GRUB_TIMEOUT=
GRUB_TIMEOUT_STYLE=
GRUB_CMDLINE_LINUX_DEFAULT="quiet splash nvidia-drm.modeset=1 mitigations=off"
GRUB_CMDLINE_LINUX=$GRUB_CMDLINE_LINUX_DEFAULT